<!-----------
    ------Navbar----
     ---------->
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{ path ('home page') }}">Home</a></li>
            <li><a href="{{ path('liste') }}">Liste</a></li>
            <li><a href="{{ path('add') }}">Creation</a></li>
            <!-- Dropdown Trigger -->
        </ul>
    </div>
</nav>